@use 'media' as *;
@use 'mixins' as *;

$ff: 'Montserrat', sans-serif;

$container_wdth: #{rem(1417px)};
$container_pdd: #{rem(12px)};

$c_accent: #fe6a20;
$text_gradient: linear-gradient(90deg, #fe6a20 0%, #ff9c07 100%);

:root {
}

@include media('tablet_above') {
    :root {
    }
}

@include media('laptop_above') {
    :root {
    }
}
