@use '../../base/var' as *;
@use '../../base/mixins' as *;
@use '../../base/media' as *;

html {
    &.light {
        .header {
            &__logo {
                img:first-child {
                    opacity: 0;
                }
                img:last-child {
                    opacity: 1;
                }
            }
        }
    }

    &.dark {
        .header {
            &__logo {
                img:first-child {
                    opacity: 1;
                }
                img:last-child {
                    opacity: 0;
                }
            }
        }
    }
}

body {
    &:has(.header.is-transform) {
        .dd-menu {
            transform: translate(-50%, -100%);
        }

        .mobile-menu .dd-menu {
            transform: translate(0);
        }
    }

    &:has(.mobile-menu.is-open) {
        .header__search {
            width: rem(39px);
        }
        .theme-toggle.mobile--visible {
            width: rem(36px);
        }
        .btn-primary {
            margin-top: -150%;
        }

        .header__mobile {
            opacity: 1;
            visibility: visible;
            transform: translate(0%, -50%);
        }
    }
}

.header {
    position: fixed;
    width: 100%;
    z-index: 20;
    border-bottom: 1px solid var(--border_default);
    transition:
        transform 0.5s cubic-bezier(0.768, 0.304, 0.496, 0.884),
        background 0.3s cubic-bezier(0.768, 0.304, 0.496, 0.884),
        border-color 0.3s cubic-bezier(0.768, 0.304, 0.496, 0.884);
    @include media('mobile') {
        border: none;
        padding-block: rem(25px);
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);
        background: var(--bg_header);
        z-index: -1;
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    }

    .theme-toggle {
        &.mobile--hidden {
            @include media('mobile') {
                display: none;
            }
        }
        &.mobile--visible {
            display: none;
            // width: 0;
            @include media('mobile') {
                display: block;
                // order: 2;
                // width: 0;
            }
        }
    }

    .container {
        @include media('mobile') {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }

    &.is-transform {
        transform: translateY(-100%);
    }

    &__mobile {
        position: absolute;
        top: 50%;
        transform: translate(10%, -50%);
        right: $container_pdd;
        display: flex;
        align-items: center;
        gap: rem(31px);
        opacity: 0;
        visibility: hidden;
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    }

    &__burger {
        display: none;
        width: rem(39px);
        height: rem(39px);
        border-radius: rem(12px);
        position: relative;
        border: 1px solid var(--border_default);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('mobile') {
            display: inline-flex;
        }

        &.is-active {
            span {
                background: var(--txt_secondary);
                &:nth-child(2) {
                    width: 0;
                }
                &:nth-child(1) {
                    top: rem(18px);
                    transform: translateX(-50%) rotate(45deg);
                }
                &:nth-child(3) {
                    bottom: rem(17px);
                    transform: translateX(-50%) rotate(-45deg);
                }
            }
        }

        span {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: rem(23px);
            height: rem(2px);
            background: var(--border_footer);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );

            &:nth-child(1) {
                top: rem(11px);
            }
            &:nth-child(2) {
                top: rem(18px);
            }
            &:nth-child(3) {
                bottom: rem(10px);
            }
        }
    }

    &__top {
        justify-content: space-between;
        padding-block: rem(16px);
        border-bottom: 1px solid var(--border_default);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include flexCenter(#{rem(24px)});
        @include media('mobile') {
            border: none;
            padding: 0;
        }
    }

    &__bot {
        justify-content: space-between;
        padding-block: rem(14px);
        @include flexCenter(#{rem(12px)});
        @include media('mobile') {
            padding: 0;
        }
    }

    &__logo {
        position: relative;
        max-width: rem(110px);
        width: rem(110px);
        height: rem(45px);
        img {
            position: absolute;
            height: 100%;
            width: 100%;
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );

            &:first-child {
                opacity: 1;
            }
            &:last-child {
                opacity: 0;
            }
        }
    }

    &__nav {
        max-width: rem(897px);
        width: 100%;
        @include media('mobile') {
            display: none;
        }
    }

    &__list {
        justify-content: space-between;
        @include flexCenter(#{rem(8px)});
        @include media('tablet') {
            justify-content: flex-end;
            gap: rem(2px);
        }

        li {
            font: 500 #{rem(16px)} / 100% $ff;
            @include media('tablet') {
                font-size: rem(14px);
            }

            &:has(.dd-menu) {
                &.is-active {
                    > a {
                        background-position: 100% 50% !important;
                        &::after {
                            transform: rotate(180deg);
                            background: $c_accent;
                        }
                    }
                }

                > a {
                    display: inline-flex;
                    align-items: center;
                    gap: rem(4px);

                    @include media('tablet') {
                        gap: rem(2px);
                    }

                    &::after {
                        content: '';
                        width: rem(10px);
                        height: rem(10px);
                        mask: url('../imgs/ico/ico-drop.svg') no-repeat center
                            center;
                        background: var(--txt_secondary);
                        @include transitions(
                            0.3s,
                            cubic-bezier(0.768, 0.304, 0.496, 0.884)
                        );
                    }

                    @include hover {
                        &::after {
                            background: $c_accent;
                        }
                    }
                }
            }
        }

        a:not(.gradient-hover):not(.big-link):not(.gradient-text) {
            font: inherit;
            position: relative;
            background-image: $text_gradient;
            background-size: 200% 100%;
            background-position: 200% 50%;
            background-repeat: no-repeat;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: var(--txt_secondary);
            background-color: var(--txt_secondary);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
            @include hover {
                background-position: 100% 50%;
            }
        }
    }

    &__panel {
        @include flexCenter(#{rem(16px)});
        @include media('mobile') {
            gap: 0;
        }
    }

    &__search {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: rem(39px);
        height: rem(39px);
        border-radius: rem(12px);
        border: 1px solid var(--border_default);
        background: var(--bg_primary);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('mobile') {
            // display: none;
            // order: 1;
            // border: none;
            // width: 0;
            // box-shadow: inset 0 0 0 1px var(--border_default);
        }

        img {
            width: rem(16px);
            height: rem(16px);
        }
    }

    &__lang {
        font: 500 #{rem(18px)} / 100% $ff;
        cursor: pointer;
        position: relative;
        color: var(--txt_secondary);
        @include media('mobile') {
            display: none;
        }

        @include hover {
            .header__lang-inner {
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
            }

            .header__lang-current svg {
                transform: rotate(180deg);
                color: $c_accent;
            }

            .header__lang-label {
                color: rgba(0, 0, 0, 0);
            }
        }

        &-current {
            @include flexCenter(#{rem(4px)});

            svg {
                flex-shrink: 0;
                color: var(--txt_secondary);
                @include transitions(
                    0.3s,
                    cubic-bezier(0.768, 0.304, 0.496, 0.884)
                );
            }
        }

        &-label {
            background: $text_gradient;
            background-size: 100% 200%;
            background-clip: text;
            -webkit-background-clip: text;
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
        }

        &-inner {
            padding: rem(5px);
            position: absolute;
            left: rem(-20px);
            min-width: rem(70px);
            z-index: 3;
            transform: translateY(-5px);
            opacity: 0;
            visibility: hidden;
            @include transitions(0.2s, ease-in);
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: rem(2px);
            padding: rem(4px);
            border-radius: rem(8px);
            backdrop-filter: blur(24px);
            border: 1px solid var(--border_default);
            background: var(--bg_primary);
            box-shadow: 0px 4px 12px 0px #00000014;
        }

        &-item {
            padding: rem(5px) rem(12px);
            border-radius: rem(6px);
            text-align: center;
            font: 500 #{rem(16px)} / 100% $ff;

            &--active {
                background: $c_accent;
            }
        }
    }

    .btn-primary {
        padding: rem(9px) rem(22px);
        font-size: rem(14px);
        @include media('mobile') {
            // order: 3;
            font-size: rem(12px);
            padding: rem(15px) rem(13px);
        }
    }

    .dd-menu {
        position: fixed;
        top: rem(145px);
        max-height: rem(500px);
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
        width: 100%;
        left: 50%;
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, #{rem(-5px)});
        z-index: 2;
        background: var(--bg_menu);
        border-top: 1px solid var(--border_default);
        backdrop-filter: blur(24px);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));

        &.is-active {
            opacity: 1;
            visibility: visible;
            transform: translate(-50%, 0);
        }

        .container {
            display: flex;
            justify-content: space-between;
        }
    }

    .experts-menu {
        padding-block: rem(25px);
        .container {
            gap: rem(45px);

            @include media('tablet') {
                gap: rem(24px);
            }
        }

        &__title {
            font: 500 #{rem(18px)} / 100% $ff;
            margin-bottom: rem(20px);
            @include media('tablet') {
                margin-bottom: rem(12px);
                font-size: rem(16px);
            }
        }

        &__item {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: rem(20px);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );

            &:not(:last-child) {
                padding-right: rem(45px);
                border-right: 1px solid var(--border_default);
                @include media('tablet') {
                    padding-right: rem(24px);
                }
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: rem(12px);

            a:not(.big-link) {
                font: 500 #{rem(16px)} / 100% $ff;
                color: var(--c_footer);
                background-color: var(--c_footer);
                @include media('tablet') {
                    font-size: rem(14px);
                }
            }
        }
    }

    .licenses-menu {
        padding-block: rem(22px) rem(26px);

        .container {
            gap: rem(60px);
            @include media('tablet') {
                gap: rem(24px);
            }
        }

        &__item {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: rem(18px);
            &:not(:last-child) {
                padding-right: rem(60px);
                border-right: 1px solid var(--border_default);

                @include media('tablet') {
                    padding-right: rem(24px);
                }
            }

            a {
                font: 500 #{rem(18px)} / 100% $ff;
                display: inline-flex;
                align-items: center;
                gap: rem(10px);
                color: var(--txt_secondary);
                background-color: var(--txt_secondary);
                @include media('tablet') {
                    font-size: rem(16px);
                }

                &::after {
                    content: '';
                    width: rem(28px);
                    height: rem(16px);
                    background: url('../imgs/ico/arrow-light.svg') no-repeat
                        center center;
                    @include transitions(
                        0.3s,
                        cubic-bezier(0.768, 0.304, 0.496, 0.884)
                    );
                }

                @include hover {
                    &::after {
                        transform: translateX(3px);
                    }
                }
            }
        }
    }

    .company-menu {
        min-height: rem(87px);
        display: flex;

        .container {
            width: 100%;
        }

        &__item {
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-left: 1px solid var(--border_default);
            border-right: 1px solid var(--border_default);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
        }

        li {
            padding-inline: rem(12px);
            height: 100%;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );

            &:not(:last-child) {
                border-right: 1px solid var(--border_default);
            }
        }

        a {
            font: 500 #{rem(20px)} / 100% $ff;
            display: inline-flex;
            align-items: center;
            gap: rem(10px);
            color: var(--txt_secondary);
            background-color: var(--txt_secondary);
            @include media('tablet') {
                font-size: rem(18px);
            }

            &::after {
                content: '';
                width: rem(28px);
                height: rem(16px);
                background: url('../imgs/ico/arrow-light.svg') no-repeat center
                    center;
                @include transitions(
                    0.3s,
                    cubic-bezier(0.768, 0.304, 0.496, 0.884)
                );
            }

            @include hover {
                &::after {
                    transform: translateX(3px);
                }
            }
        }
    }

    .big-link {
        margin-top: rem(8px);
        max-width: rem(268px);
        display: flex;
        flex-direction: column;
        padding: rem(13px);
        border-radius: rem(13px);
        position: relative;
        background: var(--bg_link);
        box-shadow: 7px 12px 29.1px 0px #fe6a201a;
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include hover {
            img {
                transform: translateX(5px);
            }
        }
        * {
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
        }
        &::before {
            content: '';
            position: absolute;
            inset: 0;
            padding: 1px;
            border-radius: inherit;
            background: linear-gradient(
                90deg,
                rgba(254, 106, 32, 0.2) 0%,

                rgba(255, 156, 7, 0.2) 100%
            );
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            pointer-events: none;
        }

        &__title {
            display: flex;
            align-items: center;
            gap: rem(4px);
            margin-bottom: rem(11px);
            font: 500 #{rem(18px)} / 100% $ff;
            color: var(--txt_secondary);
            @include media('tablet') {
                font-size: rem(16px);
            }
        }

        &__text {
            font: 500 #{rem(16px)} / 100% $ff;
            color: var(--c_footer);
            @include media('tablet') {
                font-size: rem(14px);
            }
        }
    }
}
