.js-scroll {
    opacity: 0;
    transform: translate3d(0, 60px, 0) scale3d(0.96, 0.96, 1);
    transform-style: preserve-3d;
    transition:
        transform 1.2s cubic-bezier(0.22, 1, 0.36, 1),
        opacity 1.2s cubic-bezier(0.22, 1, 0.36, 1),
        color 0.3s cubic-bezier(0.768, 0.304, 0.496, 0.884),
        background cubic-bezier(0.768, 0.304, 0.496, 0.884);
    will-change: transform, opacity;

    &._animated {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
}
