@use '../../base/var' as *;
@use '../../base/mixins' as *;
@use '../../base/media' as *;

@property --rotate {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.btn-primary {
    justify-content: center;
    padding: rem(20px) rem(35px);
    position: relative;
    font: 600 #{rem(16px)} / 100% $ff;
    text-transform: uppercase;
    border-radius: rem(12px);
    border: 1px solid var(--border_default);
    color: var(--txt_secondary);
    background: var(--bg_primary);
    @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));

    @include hover {
        .btn-primary__mask {
            opacity: 1;
        }
        .glow-mask {
            opacity: 1;
        }
    }

    &::after,
    &::before {
        content: '';
        position: absolute;
        inset: -2px;
        z-index: -1;
        border-radius: calc(#{rem(12px)} + 2px);
        z-index: -1;
        transform: translateZ(0);
        -webkit-mask-image: -webkit-radial-gradient(white, black);
        background: conic-gradient(
            from var(--rotate),
            #fe6a20,
            rgba(254, 106, 32, 0) 20%,
            #fe6a20
        );
        animation: spin 2.5s linear infinite;
    }

    &::before {
        z-index: -2;
        filter: blur(10px);
        top: 10%;
        -webkit-mask-image: none;
    }

    &__text {
        position: relative;
        z-index: 2;
    }

    .glow-mask {
        &__circles {
            filter: blur(20px);
            z-index: -1;

            &::after,
            &::before {
                width: rem(68px);
                height: rem(68px);
                background: #ff9763;
            }
        }
    }
}
