@use '../../base/var' as *;
@use '../../base/mixins' as *;
@use '../../base/media' as *;

section:has(.video-bg) {
    position: relative;

    .container {
        position: relative;
        z-index: 4;
    }
}

.video-bg {
    position: absolute;
    inset: 0;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        width: 101%;
        height: 101%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: var(--bg_video);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    }

    video {
        transform: translateZ(0);
        will-change: transform;
        width: 100.5%;
        height: 100.5%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        object-fit: cover;
    }
}
