@use '../../base/var' as *;
@use '../../base/mixins' as *;
@use '../../base/media' as *;

.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    height: 100svh;
    width: 100%;
    z-index: 30;
    background: var(--bg_overlay);
    @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));

    &.is-show {
        opacity: 1;
        visibility: visible;

        .modal__box {
            transform: translate(0);
        }
    }

    .container {
        width: 100%;
    }

    &__box {
        padding: rem(24px);
        max-width: rem(593px);
        width: 100%;
        margin: 0 auto;
        transform: translateY(-10%);
        border-radius: rem(13px);
        backdrop-filter: blur(29px);
        background: var(--bg_panels);
        transition:
            background 0.3s,
            cubic-bezier(0.768, 0.304, 0.496, 0.884),
            transform 0.5s,
            cubic-bezier(0.768, 0.304, 0.496, 0.884);
    }

    &__title {
        font: 500 #{rem(30px)} / 100% $ff;
        color: var(--txt_primary);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('mobile') {
            font-size: rem(24px);
        }
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(12px);
        align-items: flex-start;
    }

    &__close {
        flex-shrink: 0;
        position: relative;
        width: rem(38px);
        height: rem(38px);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: rem(12px);
        background: var(--bg_primary);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('mobile') {
            width: rem(30px);
            height: rem(30px);
            border-radius: rem(6px);
        }

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            padding: 1px;
            border: 1px solid transparent;
            border-radius: inherit;
            background: linear-gradient(90deg, #fe6a20 0%, #ff9c07 100%);
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            pointer-events: none;
        }

        svg {
            color: var(--txt_secondary);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
            @include media('mobile') {
                width: rem(12px);
                height: rem(12px);
            }
        }
    }

    &__message {
        font: 400 #{rem(18px)} / 120% $ff;
        color: var(--txt_special);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('mobile') {
            font-size: rem(14px);
        }
    }

    &__langs {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(5px);
        max-width: rem(258px);
        margin: rem(53px) auto 0;

        &-lang {
            cursor: pointer;
            font: 500 #{rem(20px)} / 100% $ff;
            text-transform: uppercase;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: rem(66px);
            height: rem(66px);
            border-radius: rem(6px);
            border: 1px solid var(--border_footer);
            background: var(--border_default);
            color: var(--txt_secondary);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
            &.is-current {
                background: #fe6a2080;
            }
        }
    }

    &--search {
        @include media('mobile') {
            backdrop-filter: blur(24px);
            background: var(--bg_menu);

            .container {
                height: 100%;
                padding-top: rem(24px);
            }

            .modal__box {
                height: 100%;
                padding: 0;
                border-radius: 0;
                background: transparent;
                backdrop-filter: none;
            }

            .modal__close {
                width: rem(38px);
                height: rem(38px);
                border-radius: rem(12px);

                svg {
                    width: rem(15px);
                }
            }
        }
    }

    &--lang {
        .modal {
            &__box {
                padding: rem(24px) rem(20px) rem(48px) rem(20px);
            }
            &__title {
                margin-top: rem(15px);
            }
        }
    }
    &--success {
        z-index: 35;
        .modal {
            &__box {
                padding: rem(24px) rem(20px) rem(40px) rem(45px);
                @include media('mobile') {
                    padding: rem(16px);
                    border-radius: rem(6px);
                }
            }

            &__title {
                margin-bottom: rem(41px);
                margin-top: rem(15px);
                @include media('mobile') {
                    margin-top: 0;
                    margin-bottom: rem(12px);
                }
            }
        }
    }
    &--form {
        .container {
            padding-block: $container_pdd;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .modal {
            &__box {
                max-width: rem(797px);
                padding: rem(25px);
                height: 100%;
                overflow-y: auto;
                max-height: 800px;
                scrollbar-width: none;
                -ms-overflow-style: none;
                &::-webkit-scrollbar {
                    display: none;
                }
            }

            &__head {
                align-items: center;
                margin-bottom: rem(40px);
                @include media('mobile') {
                    margin-bottom: rem(12px);
                }
            }
        }

        .form-box {
            &__handler {
                label {
                    background: var(--bg_labels_modal);
                }
            }

            &__field {
                input,
                textarea {
                    &::placeholder {
                        color: var(--c_placeholder_modal);
                    }
                }
            }
        }

        @include media('mobile') {
            backdrop-filter: blur(24px);
            background: var(--bg_menu);

            .container {
                height: 100%;
                // padding: $container_pdd;
            }

            .modal__box {
                height: 100%;
                // padding: calc($container_pdd / 2);
                padding: $container_pdd;
                border-radius: 0;
                background: transparent;
                backdrop-filter: none;
            }
        }
    }
}
