@use '../../base/var' as *;
@use '../../base/mixins' as *;
@use '../../base/media' as *;

.search-panel {
    &__handler {
        display: flex;
        gap: rem(10px);
    }

    &__submit {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: rem(29px);
        height: rem(29px);
        right: rem(10px);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    }

    &__field {
        width: 100%;
        border-radius: rem(12px);
        position: relative;
        overflow: hidden;

        &::after {
            pointer-events: none;
            content: '';
            position: absolute;
            inset: 0;
            padding: 1px;
            border: 1px solid transparent;
            border-radius: inherit;
            background: linear-gradient(90deg, #fe6a20 0%, #ff9c07 100%);
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }

        input {
            width: 100%;
            font: 500 #{rem(14px)} / 100% $ff;
            outline: none;
            border: none;
            padding: rem(11px) rem(50px) rem(11px) rem(12px);
            color: var(--txt_secondary);
            background: var(--bg_primary);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
        }

        input[type='search']::-webkit-search-cancel-button {
            display: none;
        }

        input[type='search']::-webkit-search-decoration {
            display: none;
        }

        input[type='search']::-webkit-search-results-button {
            display: none;
        }

        input[type='search']::-webkit-search-results-decoration {
            display: none;
        }
    }
}
.search-results {
    margin-top: rem(24px);
    display: flex;
    flex-direction: column;
    max-height: rem(270px);
    overflow: auto;
    @include media('mobile') {
        max-height: calc(90vh - #{rem(48px)});
        max-height: calc(90svh - #{rem(48px)});
    }

    &::-webkit-scrollbar {
        width: 2px;
        background: linear-gradient(
            90deg,
            rgba(254, 106, 32, 0.2) 0%,
            rgba(255, 156, 7, 0.2) 50%
        );
    }

    &::-webkit-scrollbar-thumb {
        background: linear-gradient(90deg, #fe6a20 0%, #ff9c07 100%);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #ff9c07;
    }
    &__result {
        padding: rem(20px);
        display: flex;
        gap: rem(19px);
        flex-direction: column;
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));

        &:not(:last-child) {
            border-bottom: 1px solid var(--bg_secondary);
        }

        p {
            margin: 0;
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
        }

        p {
            &:first-child {
                font: 500 #{rem(14px)} / 100% $ff;
                color: var(--txt_special);
            }

            &:last-child {
                font: 500 #{rem(20px)} / 100% $ff;
                color: var(--txt_secondary);
            }
        }
    }
}
