@use '../../base/var' as *;
@use '../../base/mixins' as *;
@use '../../base/media' as *;

.after-wrapper {
    position: relative;

    &:has(.step-way.is-animated) {
        &::after {
            width: 100%;
        }
    }

    &:has(.step-way--sm) {
        &::after {
            top: rem(21px);
        }
    }

    &::after {
        display: none;
        content: '';
        position: absolute;
        width: 0;
        top: rem(47px);
        left: 0;
        height: rem(2px);
        background: var(--border_default);
        transition:
            background 0.3s,
            cubic-bezier(0.768, 0.304, 0.496, 0.884),
            width 3s cubic-bezier(0.768, 0.304, 0.496, 0.884);
        @include media('tablet') {
            display: block;
        }
        @include media('mobile') {
            top: rem(21px);
        }
    }
}

.step-way {
    --turn: 50px;
    display: grid;
    position: relative;
    gap: rem(90px) rem(20px);
    grid-template-columns: repeat(3, 1fr);
    z-index: 1;
    @include media('tablet') {
        display: flex;
        align-items: flex-start;
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
        scroll-snap-type: x mandatory;
        scroll-padding-inline: $container_pdd;
        padding-inline: $container_pdd;
    }

    &.is-animated {
        .step-way__item::before {
            opacity: 1;
        }
        .step-way__item:nth-child(1)::before {
            animation: drawLine 0.7s linear 0s forwards;
        }

        .step-way__item:nth-child(2)::before {
            animation: drawLine 0.7s linear 0.7s forwards;
        }

        .step-way__item:nth-child(3)::before {
            animation: drawUTurn 1.4s linear 1.4s forwards;
        }

        .step-way__item:nth-child(5)::before {
            animation: drawLine 0.7s linear 2.8s forwards;
        }

        .step-way__item:nth-child(4)::before {
            animation: drawLine 0.7s linear 3.5s forwards;
        }
    }

    &__content {
        max-width: rem(308px);
    }

    &__item {
        position: relative;
        @include media('tablet') {
            flex-shrink: 0;
            max-width: rem(250px);
            scroll-snap-align: start;
            &:nth-child(5n + 4) {
                order: 5;
            }
        }

        &::before {
            content: '';
            position: absolute;
            box-sizing: border-box;
            top: rem(46px);
            height: rem(2px);
            background: var(--border_default);
            z-index: -1;
            opacity: 0;
            transform: scaleX(0);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
            @include media('tablet') {
                display: none;
            }
        }

        &:nth-child(1)::before {
            left: rem(47px);
            right: rem(-20px);
            transform-origin: left;
        }

        &:nth-child(2)::before {
            left: 0;
            right: rem(-20px);
            transform-origin: left;
        }

        &:nth-child(3)::before {
            background: transparent;
            left: 0;
            right: rem(-50px);
            height: calc(100% + #{rem(90px)} + 2px);
            border: 2px solid var(--border_default);
            border-left: none;
            border-radius: 0 rem(50px) rem(50px) 0;
            transform: scaleX(1);
            clip-path: polygon(
                0 0,
                0 0,
                0 80px,
                0 80px,
                0 80px,
                0 80px,
                0 80px,
                0 80px
            );
        }

        &:nth-child(5)::before {
            left: 0;
            right: rem(-20px);
            transform-origin: right;
        }

        &:nth-child(4)::before {
            left: rem(47px);
            right: rem(-20px);
            transform-origin: right;
        }
    }

    &__count {
        font: 500 #{rem(70px)} / 114% $ff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: rem(94px);
        height: rem(94px);
        margin-bottom: rem(33px);
        background: $c_accent;
        color: var(--bg_accent);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('mobile') {
            width: rem(42px);
            height: rem(42px);
            font-size: rem(31px);
            margin-bottom: rem(15px);
        }
    }

    &__title {
        font: 500 #{rem(24px)} / 120% $ff;
        margin-bottom: rem(20px);
        color: var(--txt_secondary);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('mobile') {
            font-size: rem(18px);
            margin-bottom: rem(15px);
        }
    }

    &__descr {
        font: 400 #{rem(18px)} / 120% $ff;
        color: var(--txt_primary);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('mobile') {
            font-size: rem(14px);
        }
    }

    @keyframes drawLine {
        0% {
            transform: scaleX(0);
        }
        100% {
            transform: scaleX(1);
        }
    }

    @keyframes drawUTurn {
        0% {
            clip-path: polygon(
                0 0,
                0 0,
                0 var(--turn),
                0 var(--turn),
                0 var(--turn),
                0 var(--turn),
                0 var(--turn),
                0 var(--turn)
            );
        }
        33% {
            clip-path: polygon(
                0 0,
                100% 0,
                100% var(--turn),
                100% var(--turn),
                100% var(--turn),
                100% var(--turn),
                100% var(--turn),
                0 var(--turn)
            );
        }
        66% {
            clip-path: polygon(
                0 0,
                100% 0,
                100% 100%,
                calc(100% - var(--turn)) 100%,
                calc(100% - var(--turn)) 100%,
                calc(100% - var(--turn)) 100%,
                calc(100% - var(--turn)) var(--turn),
                0 var(--turn)
            );
        }
        100% {
            clip-path: polygon(
                0 0,
                100% 0,
                100% 100%,
                0 100%,
                0 calc(100% - var(--turn)),
                calc(100% - var(--turn)) calc(100% - var(--turn)),
                calc(100% - var(--turn)) var(--turn),
                0 var(--turn)
            );
        }
    }

    &--sm {
        --turn: 20px;
        gap: rem(28px) rem(30px);

        @include media('tablet') {
            scroll-padding-inline: 0;
            padding-inline: 0;
        }

        .step-way__item {
            &::before {
                top: rem(21px);
            }

            &:nth-child(1)::before {
                left: rem(21px);
                right: rem(-30px);
            }

            &:nth-child(2)::before {
                left: 0;
                right: rem(-30px);
            }

            &:nth-child(3)::before {
                right: 0;
                height: calc(100% + #{rem(28px)} + 2px);
                border-radius: 0 rem(24px) rem(24px) 0;
                clip-path: polygon(
                    0 0,
                    0 0,
                    0 40px,
                    0 40px,
                    0 40px,
                    0 40px,
                    0 40px,
                    0 40px
                );
            }

            &:nth-child(4)::before {
                left: rem(21px);
                right: rem(-30px);
            }

            &:nth-child(5)::before {
                left: 0;
                right: rem(-30px);
            }
        }

        .step-way__count {
            width: rem(42px);
            height: rem(42px);
            font-size: rem(31px);
            margin-bottom: rem(16px);
        }

        .step-way__title {
            font-weight: 400;
            font-size: rem(18px);
        }
    }
}
