@use '../../base/var' as *;
@use '../../base/mixins' as *;
@use '../../base/media' as *;

.value-box {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    min-height: rem(350px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: rem(30px);
    @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    @include media('mobile') {
        padding-inline: rem(20px);
    }

    @include hover {
        .glow-mask {
            opacity: 1;
        }
        .value-box__inner {
            grid-template-rows: 1fr;

            &::after {
                width: 100%;
            }
        }
    }

    &.is-active {
        .value-box__preview {
            transform: translateY(100%);
        }
    }

    &__inner {
        position: relative;
        display: grid;
        grid-template-rows: 0fr;
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: rem(-10px);
            width: 0;
            height: 1px;
            background: var(--border_footer);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
        }
    }

    &__title {
        font: 500 #{rem(30px)} / 110% $ff;
        margin-bottom: rem(30px);
        color: var(--txt_primary);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    }

    &__points {
        display: flex;
        flex-direction: column;
        gap: rem(24px);
        padding-left: rem(26px);
        @include media('mobile') {
            gap: rem(14px);
        }

        li {
            position: relative;
            font: 400 #{rem(20px)} / 120% $ff;
            color: var(--txt_primary);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
            @include media('mobile') {
                font-size: rem(14px);
            }

            &::before {
                content: '';
                position: absolute;
                left: rem(-26px);
                top: rem(7px);
                width: rem(12px);
                height: rem(12px);
                border-radius: 50%;
                background: $c_accent;
            }
        }
    }

    &__cta {
        overflow: hidden;
        position: relative;
        z-index: 2;
        display: inline-flex;
        align-items: center;
        gap: rem(20px);
        font: 500 #{rem(20px)} / 122% $ff;
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        color: var(--txt_secondary);

        svg {
            color: var(--txt_secondary);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
        }
    }

    &__preview {
        display: flex;
        flex-direction: column;
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--bg_content);
        transition:
            background 0.3s cubic-bezier(0.768, 0.304, 0.496, 0.884),
            transform 0.5s cubic-bezier(0.768, 0.304, 0.496, 0.884);

        .value-box__title {
            margin-bottom: 0;
            font-size: rem(65px);
            position: relative;
            z-index: 2;
            @include media('mobile') {
                font-size: rem(42px);
            }
        }
    }
}
