@use '../../base/var' as *;
@use '../../base/mixins' as *;
@use '../../base/media' as *;

.video-box {
    aspect-ratio: 913 / 397;
    position: relative;
    border-radius: rem(13px);
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: var(--bg_videos);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    }

    &.is-playing {
        &::after {
            opacity: 0;
            visibility: hidden;
        }

        .video-box__play {
            opacity: 0;
            visibility: hidden;
            transform: translate(-50%, -60%);
        }
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__play {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));

        svg {
            color: var(--c_grey);
            @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        }
    }
}
