@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.gradient-text {
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-animation: gradient-anim 3s ease infinite;
    animation: gradient-anim 3s ease infinite;
    color: rgba(0, 0, 0, 0);
    background-image: $text_gradient;

    @keyframes gradient-anim {
        0%,
        100% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }
    }
}
