@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.section-title {
    position: relative;
    font: 500 #{rem(50px)} / 110% $ff;
    @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    @include media('tablet') {
        font-size: rem(36px);
    }

    @include media('mobile') {
        font-size: rem(24px);
    }

    &--main {
        font: 500 #{rem(50px)} / 110% $ff;
        @include media('tablet') {
            font-size: rem(36px);
        }

        @include media('mobile') {
            font-size: rem(30px);
        }
    }

    &--sm {
        font-size: rem(30px);
        @include media('mobile') {
            font-size: rem(24px);
        }
    }
}
