@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.article {
    padding-block: rem(40px) rem(50px);

    .video-box {
        aspect-ratio: 636 / 290;
        margin-bottom: rem(30px);
    }

    .container {
        max-width: rem(944px);
        display: flex;
        align-items: flex-start;
        gap: rem(12px);
    }

    &__content {
        max-width: rem(636px);
    }

    &__heading {
        font: 500 #{rem(24px)} / 100% $ff;
        max-width: rem(593px);
        margin-bottom: rem(30px);
        color: var(--txt_primary);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    }

    &__subheading {
        font: 500 #{rem(20px)} / 100% $ff;
        margin-bottom: rem(24px);
        color: var(--txt_primary);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    }

    &__text {
        font: 400 #{rem(18px)} / 110% $ff;
        margin-bottom: rem(30px);
        color: var(--txt_primary);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));

        &:has(+ .article__text) {
            margin-bottom: rem(24px);
        }
    }

    &__excerpt {
        font: 400 #{rem(18px)} / 110% $ff;
        padding: rem(10px) rem(13px);
        border-radius: rem(13px);
        margin-bottom: rem(30px);
        color: var(--txt_primary);
        background: #fdcdb61a;
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));

        span {
            font-weight: 500;
        }
    }

    &__quote {
        display: flex;
        flex-direction: column;
        gap: rem(3px);
        margin-bottom: rem(30px);
        font: 400 #{rem(18px)} / 110% $ff;
        font-style: italic;
        color: var(--txt_primary);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));

        cite {
            align-self: flex-end;
            font: inherit;
            font-style: inherit;
            color: inherit;
            transform: inherit;
        }
    }

    &__details {
        margin-bottom: rem(30px);
        display: flex;
        flex-direction: column;
        border-top: 1px solid var(--border_default);
        border-bottom: 1px solid var(--border_default);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));

        &-item {
            display: flex;
            padding-block: rem(26px);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );

            &:not(:last-child) {
                border-bottom: 1px solid var(--border_default);
            }
        }

        &-headings {
            display: flex;
            flex-direction: column;
            gap: rem(33px);
            padding-right: rem(17px);
            border-right: 1px solid var(--border_default);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );

            & > * {
                @include transitions(
                    0.3s,
                    cubic-bezier(0.768, 0.304, 0.496, 0.884)
                );
            }

            p {
                margin: 0;
                color: var(--c_half);

                &:first-child {
                    font: 600 #{rem(18px)} / 100% $ff;
                }
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            padding-inline: rem(17px) rem(13px);
            gap: rem(12px);
            & > * {
                @include transitions(
                    0.3s,
                    cubic-bezier(0.768, 0.304, 0.496, 0.884)
                );
            }
            li {
                font: 500 #{rem(14px)} / 120% $ff;
                color: var(--c_grey_darken);
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        max-width: rem(323px);
        margin-bottom: rem(30px);
        gap: rem(20px);

        li {
            display: inline-flex;
            align-items: flex-start;
            gap: rem(12px);
            font: 500 #{rem(14px)} / 100% $ff;
            color: var(--txt_primary);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );

            &::before {
                margin-top: rem(4px);
                content: '';
                flex-shrink: 0;
            }
        }

        &--arrows {
            li {
                &::before {
                    width: rem(19px);
                    height: rem(16px);
                    background: url('../imgs/ico/arrow-light.svg') no-repeat
                        center center / cover;
                }
            }
        }

        &--dots {
            li {
                &::before {
                    width: rem(12px);
                    height: rem(12px);
                    border-radius: 50%;
                    background: $c_accent;
                }
            }
        }
    }

    &__table {
        margin-bottom: rem(30px);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border: 1px solid var(--border_default);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));

        &-cell {
            padding: rem(29px) rem(10px);
            font: 500 #{rem(14px)} / 120% $ff;
            border-right: 1px solid var(--border_default);
            border-bottom: 1px solid var(--border_default);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
            color: var(--c_grey_darken);

            &:nth-child(3n) {
                border-right: none;
            }

            &.no-border {
                border-bottom: none;
            }
        }
    }
}
