@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.business {
    padding-block: rem(70px);
    .section-title {
        max-width: rem(833px);
    }
    &__head {
        margin-bottom: rem(42px);
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: rem(24px);
    }
}
