@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.case-info {
    padding-block: rem(50px);
    @include media('desktop') {
        overflow: hidden;
    }
    @include media('mobile') {
        padding-block: rem(40px);
    }

    .container {
        display: flex;
        align-items: flex-start;
        gap: rem(24px);
        justify-content: space-between;
        @include media('desktop') {
            flex-direction: column-reverse;
        }
        @include media('mobile') {
            gap: rem(40px);
        }
    }

    .sticky-block {
        max-width: rem(475px);
        width: 100%;
        @include media('mobile') {
            max-width: 100%;
        }
    }

    .video-box {
        margin-bottom: rem(39px);
        @include media('mobile') {
            margin-bottom: rem(20px);
        }
    }

    .step-way {
        margin-bottom: rem(39px);
        @include media('mobile') {
            margin-bottom: rem(20px);
        }
    }

    &__content {
        width: 100%;
    }

    &__article {
        & > * {
            color: var(--txt_primary);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
        }

        img {
            margin-bottom: rem(33px);
            border-radius: rem(24px);
            @include media('mobile') {
                margin-bottom: rem(20px);
                border-radius: rem(12px);
            }
        }

        h2 {
            font: 500 #{rem(40px)} / 110% $ff;
            margin-bottom: rem(30px);
            @include media('mobile') {
                font-size: rem(18px);
                margin-bottom: rem(20px);
            }
        }

        h3 {
            font: 500 #{rem(24px)} / 110% $ff;
            margin-bottom: rem(16px);
            @include media('mobile') {
                font-size: rem(18px);
                margin-bottom: rem(20px);
            }
        }

        h4 {
            font: 500 #{rem(22px)} / 120% $ff;
            margin-bottom: rem(32px);
            @include media('mobile') {
                font-size: rem(18px);
                margin-bottom: rem(20px);
            }
        }
        h5,
        h6 {
            font: 500 #{rem(20px)} / 120% $ff;
            margin-bottom: rem(32px);
            @include media('mobile') {
                font-size: rem(18px);
                margin-bottom: rem(20px);
            }
        }

        p {
            color: var(--c_grey_darken);
            &:first-of-type {
                font: 400 #{rem(18px)} / 110% $ff;
                text-transform: uppercase;
                color: var(--txt_primary);
                @include media('mobile') {
                    font-size: rem(16px);
                }
            }
            &:where(:not([class]):not(:last-child)) {
                margin-bottom: rem(39px);
                @include media('mobile') {
                    margin-bottom: rem(20px);
                }
            }
        }

        blockquote {
            padding-block: rem(19px);
            font: 400 #{rem(18px)} / 110% $ff;
            margin: 0;
            position: relative;
            margin-bottom: rem(39px);
            padding-left: rem(28px);
            gap: rem(20px);
            color: var(--txt_primary);

            @include media('mobile') {
                font-size: rem(16px);
                padding-block: rem(14px);
                padding-left: rem(14px);
            }

            &::before {
                content: '';
                position: absolute;
                height: 100%;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: rem(8px);
                background: linear-gradient(90deg, #fe6a20 0%, #ff9c07 100%);
            }
        }

        ul,
        ol {
            margin: 0;
            padding: 0 0 0 rem(14px);
            margin-bottom: rem(32px);
            max-width: rem(816px);
            @include media('mobile') {
                max-width: 100%;
                margin-bottom: rem(20px);
            }

            li {
                font: 400 #{rem(18px)} / 154% $ff;
                @include media('mobile') {
                    font-size: rem(16px);
                }
            }
        }

        ul {
            list-style-type: none;
            padding-left: rem(26px);
            li {
                position: relative;
                color: var(--c_grey_darken);
                @include transitions(
                    0.3s,
                    cubic-bezier(0.768, 0.304, 0.496, 0.884)
                );
                &::before {
                    content: '';
                    position: absolute;
                    left: rem(-25px);
                    top: rem(14px);
                    width: rem(18px);
                    height: rem(1px);
                    background: var(--c_grey_darken);
                    @include transitions(
                        0.3s,
                        cubic-bezier(0.768, 0.304, 0.496, 0.884)
                    );
                }
            }
        }
    }

    &__subtitle {
        font: 500 #{rem(24px)} / 110% $ff;
        margin-bottom: rem(20px);
        color: var(--txt_primary);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('mobile') {
            font-size: rem(18px);
        }
    }

    &__digital {
        display: flex;
        max-width: rem(853px);
        justify-content: space-between;
        gap: rem(12px);
        margin-bottom: rem(39px);
        @include media('mobile') {
            overflow: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;
            &::-webkit-scrollbar {
                display: none;
            }
            scroll-snap-type: x mandatory;
            .digital-box {
                flex-shrink: 0;
                max-width: rem(190px);
                scroll-snap-align: start;
            }
        }
    }

    &__projects {
        display: flex;
        gap: rem(23px);
        margin-bottom: rem(39px);
    }
}
