@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

:root {
    --scroll-gap: #{rem(95px)};
}

@include media('mobile') {
    :root {
        --scroll-gap: #{rem(40px)};
    }
}

.clients {
    padding-block: rem(70px) rem(92px);
    @include media('mobile') {
        padding-block: rem(40px);
    }

    .section-title {
        margin-bottom: rem(67px);
        @include media('mobile') {
            margin-bottom: rem(24px);
            order: 1;
        }
    }

    .btn-primary {
        padding: rem(20px) rem(27px);
        @include media('mobile') {
            padding: rem(17px);
            order: 3;
        }
    }

    .container {
        justify-content: space-between;
        @include flexCenter(#{rem(20px)});
        @include media('mobile') {
            flex-direction: column;
        }
    }

    &__info {
        max-width: rem(519px);
        @include media('mobile') {
            max-width: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    &__logos {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: rem(40px);
        overflow: hidden;
        width: 100%;
        -webkit-mask-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0) 100%
        );

        mask-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0) 100%
        );

        mask-size: cover;
        -webkit-mask-size: cover;
        @include media('mobile') {
            order: 2;
            gap: rem(12px);
            margin-bottom: rem(24px);
        }
    }

    &__marquee {
        display: flex;
        user-select: none;
        gap: var(--scroll-gap);
        @include media('mobile') {
            gap: var(--scroll-gap);
        }

        &:nth-child(1),
        &:nth-child(3) {
            .clients__track {
                animation: scroll-left 60s linear infinite;
            }
        }

        &:nth-child(2) {
            .clients__track {
                animation: scroll-right 60s linear infinite;
            }
        }

        @include hover {
            animation-play-state: paused;
        }
    }

    &__track {
        flex-shrink: 0;
        min-width: 100%;
        justify-content: space-around;
        @include flexCenter(var(--scroll-gap));
        @include media('mobile') {
            gap: var(--scroll-gap);
        }
        img {
            max-width: rem(100px);

            @include media('mobile') {
                max-width: rem(90px);
            }
        }
    }

    @keyframes scroll-left {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(-100% - var(--scroll-gap)));
        }
    }

    @keyframes scroll-right {
        from {
            transform: translateX(calc(-100% - var(--scroll-gap)));
        }
        to {
            transform: translateX(0);
        }
    }
}
