@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.contacts {
    padding-block: rem(75px);

    .container {
        display: flex;
        justify-content: space-between;
        gap: rem(24px);
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: rem(40px);
        max-width: rem(471px);
    }
}
