@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.integration {
    padding-block: rem(70px);
    position: relative;
    overflow: hidden;
    @include media('mobile') {
        padding-block: rem(40px);
    }

    &:has(.integration__content.is-small) {
        padding-block: rem(150px);
        @include media('mobile') {
            padding-block: rem(70px);
        }
    }

    &::after,
    &::before {
        content: '';
        z-index: -1;
        opacity: 0.1;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: url('../imgs/ico/logo_circ.svg') no-repeat center center /
            cover;
        width: rem(375px);
        aspect-ratio: 1;

        @include media('mobile') {
            width: rem(190px);
        }
    }
    &::after {
        left: rem(-110px);
        @include media('mobile') {
            left: rem(-130px);
        }
    }

    &::before {
        right: rem(-110px);
        @include media('mobile') {
            right: rem(-130px);
        }
    }

    .section-description {
        max-width: rem(320px);
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: rem(48px);
        @include media('mobile') {
            gap: rem(20px);
            align-items: flex-start;
            text-align: left;
        }

        &.is-small {
            flex-direction: row;
            justify-content: center;
            @include media('mobile') {
                align-items: center;
            }
            .section-title {
                max-width: rem(418px);
                text-align: left;
            }
            .integration__list {
                max-width: initial;
                width: initial;
            }
        }
    }

    &__list {
        max-width: rem(521px);
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: rem(32px);
        @include media('mobile') {
            gap: rem(20px);
        }

        li {
            flex-shrink: 0;
            width: rem(152px);
            height: rem(152px);
            @include media('mobile') {
                width: rem(90px);
                height: rem(90px);
            }
        }
    }

    &__box {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: rem(8px);
        width: 100%;
        height: 100%;
        border-radius: rem(20px);
        border: 1px solid var(--bg_grafit);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('mobile') {
            border-radius: rem(12px);
        }

        img {
            max-width: 80%;
            aspect-ratio: 1;
            object-fit: contain;
            width: 100%;
        }
    }
}
