@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.intro {
    padding-block: rem(150px) rem(20px);

    &::before {
        content: '';
        background: #0f0f0f1a;
        filter: blur(132px);
        width: rem(1087px);
        height: rem(449px);
        position: absolute;
        left: -15%;
        bottom: rem(20px);
        border-radius: 999px;
        z-index: 2;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(24px);
    }

    .section-title {
        margin-bottom: rem(44px);
    }

    .section-description {
        margin-bottom: rem(44px);
        max-width: rem(467px);
    }

    &__info {
        max-width: rem(855px);
    }

    &__pic {
        max-width: rem(500px);
    }
}
