@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.media {
    padding-block: rem(60px);

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(12px);
        margin-bottom: rem(40px);
    }

    &__btn {
        opacity: 0.2;
        width: rem(20px);
        height: rem(20px);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        &.is-current {
            opacity: 1;
        }
    }

    &__state {
        display: flex;
        align-items: center;
        gap: rem(14px);

        svg {
            width: 100%;
            height: 100%;
            color: var(--c_grey);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: rem(22px);
        margin-bottom: rem(100px);

        &.is-list {
            display: flex;
            flex-direction: column;
            max-width: rem(942px);
            margin: 0 auto rem(100px);
            gap: rem(40px);

            .event-box {
                background: transparent;
                border-radius: 0;
                padding: 0 0 rem(40px) 0;
                border-bottom: 1px solid var(--border_default);

                &__description {
                    display: flex;
                    order: 3;
                }

                &__date {
                    padding: 0;
                }

                &__details {
                    flex-direction: column;
                    display: flex;
                    gap: rem(22px);
                }

                &__info {
                    justify-content: flex-start;
                    gap: rem(22px);
                    order: 2;
                    max-width: rem(431px);
                }

                &__name {
                    margin: 0;
                }

                &__thumb {
                    max-width: rem(138px);
                    height: rem(125px);
                    order: 1;
                    aspect-ratio: 138 / 125;
                }

                &__label {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }

        .event-box {
            padding: rem(16px);
            &__info {
                max-width: rem(226px);
            }

            &__date {
                padding-top: rem(12px);
            }

            &__descr {
                -webkit-line-clamp: 3;
            }

            &__thumb {
                width: 100%;
                max-width: rem(177px);
                aspect-ratio: 177 / 233;
            }
        }
    }
}
