@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.page-preview {
    z-index: 5;
    min-height: rem(473px);
    padding-block: rem(176px) rem(70px);

    &::before {
        content: '';
        background: #0f0f0f1a;
        filter: blur(132px);
        width: rem(1087px);
        height: rem(449px);
        position: absolute;
        left: -15%;
        bottom: rem(20px);
        border-radius: 999px;
        z-index: 2;
    }

    .section-title {
        margin-bottom: rem(50px);
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(24px);
    }

    &__logo {
        max-width: rem(153px);
    }

    &__col {
        .btn-primary {
            width: max-content;
            min-width: rem(302px);
            padding: rem(20px) rem(29px);
        }

        &:first-child {
            max-width: rem(720px);
            width: 100%;

            &:not(:has(.btn-primary)) {
                .section-title {
                    margin-bottom: 0;
                }
            }

            &:has(.page-preview__logo) {
                display: flex;
                flex-direction: column;
                gap: rem(33px);
                .section-title {
                    margin-bottom: 0;
                }
            }
        }

        &:last-child {
            display: flex;
            flex-direction: column;
            gap: rem(22px);
            max-width: rem(467px);
            width: 100%;
        }
    }

    &--simple {
        .page-preview__info {
            flex-direction: column;
            max-width: rem(720px);
            margin: 0 auto;
            gap: rem(44px);
        }

        .section-title {
            margin-bottom: 0;
        }
    }
}
