@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.page-preview {
    overflow: hidden;
    z-index: 5;
    min-height: rem(473px);
    padding-block: rem(176px) rem(70px);
    @include media('mobile') {
        padding-block: rem(125px) rem(40px);
        min-height: rem(350px);
    }

    &::before {
        content: '';
        background: #0f0f0f1a;
        filter: blur(132px);
        width: rem(1087px);
        height: rem(449px);
        position: absolute;
        left: -15%;
        bottom: rem(20px);
        border-radius: 999px;
        z-index: 2;
    }

    .btns-panel {
        @include media('tablet') {
            order: 3;
        }
    }

    .section-description {
        @include media('tablet') {
            order: 2;
            margin-bottom: rem(59px);
        }
    }

    .section-title {
        margin-bottom: rem(50px);
        @include media('tablet') {
            margin-bottom: rem(20px);
            order: 1;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(24px);
        @include media('tablet') {
            flex-direction: column;
            gap: 0;
        }
        @include media('mobile') {
            align-items: flex-start;
        }
    }

    &__logo {
        max-width: rem(153px);
    }

    &__col {
        .btn-primary {
            width: max-content;
            min-width: rem(302px);
            padding: rem(20px) rem(29px);
            @include media('mobile') {
                width: 100%;
                padding: rem(17px);
            }
        }

        &:first-child {
            max-width: rem(720px);
            width: 100%;
            @include media('tablet') {
                max-width: 100%;
                display: flex;
                flex-direction: column;
            }

            &:not(:has(.btn-primary)) {
                .section-title {
                    margin-bottom: 0;
                    @include media('tablet') {
                        margin-bottom: rem(20px);
                    }
                }
            }

            &:has(.page-preview__logo) {
                display: flex;
                flex-direction: column;
                gap: rem(33px);
                .section-title {
                    margin-bottom: 0;
                    @include media('tablet') {
                        margin-bottom: rem(20px);
                    }
                }
            }
        }

        &:last-child {
            display: flex;
            flex-direction: column;
            gap: rem(22px);
            max-width: rem(467px);
            width: 100%;
            @include media('tablet') {
                max-width: 100%;
                flex-direction: column-reverse;
                gap: 0;

                *:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &--simple {
        .page-preview__info {
            flex-direction: column;
            max-width: rem(720px);
            margin: 0 auto;
            gap: rem(44px);
        }

        .section-title {
            margin-bottom: 0;
        }
    }

    &--started {
        .page-preview__info {
            align-items: flex-start;
        }
        .section-title {
            max-width: rem(594px);
        }
        .page-preview__col:last-child {
            margin-top: rem(25px);
            max-width: rem(448px);
        }
    }

    *:last-child {
        @include media('mobile') {
            margin-bottom: 0;
        }
    }
}
