@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.regarding {
    &__info {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: rem(12px);
        padding-block: rem(50px);
        @include media('mobile') {
            padding-block: rem(40px);
            flex-direction: column;
        }
    }

    &__pic {
        max-width: rem(830px);
        border-radius: rem(22px);
        overflow: hidden;
        width: 100%;
        @include media('mobile') {
            border-radius: rem(12px);
        }
        img {
            width: 100%;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: rem(24px);
        max-width: rem(471px);
        .section-description {
            line-height: 131%;
            color: var(--txt_primary);
        }

        @include media('mobile') {
            max-width: 100%;
        }
    }

    .stats-block {
        padding-block: rem(77px);
        @include media('mobile') {
            padding-block: rem(40px);
        }
    }
}
