@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.results {
    overflow: hidden;
    padding-block: rem(75px);

    @include media('mobile') {
        padding-block: rem(40px);
    }

    &__head {
        justify-content: space-between;
        margin-bottom: rem(60px);
        @include flexCenter(#{rem(24px)});
        @include media('mobile') {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: rem(30px);
            gap: rem(12px);
        }
    }

    &__slider {
        margin-bottom: rem(50px);
        overflow: visible;
        @include media('mobile') {
            margin-bottom: rem(35px);
        }

        &-slide {
            height: auto;
            max-width: rem(941px);
            width: 100%;
        }
    }
}
