@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.steps {
    padding-block: rem(80px);
    overflow-x: clip;
    @include media('mobile') {
        padding-block: rem(40px);
    }
    .container {
        @include media('tablet') {
            padding: 0;
        }
    }
    .section-title {
        margin-bottom: rem(73px);
        @include media('tablet') {
            padding-inline: $container_pdd;
        }
        @include media('mobile') {
            margin-bottom: rem(40px);
        }
    }
}
