@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.steps {
    padding-block: rem(80px);
    overflow-x: clip;
    .section-title {
        margin-bottom: rem(73px);
    }
}
