@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.supplier {
    padding-block: rem(55px);

    &__sorted {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(24px);
        margin-bottom: rem(60px);
    }

    &__table {
        display: grid;
        border-radius: rem(7px);
        overflow: hidden;
        margin-bottom: rem(120px);
        grid-template-columns: repeat(9, minmax(0, 1fr));
        border: 1px solid #414141;
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    }

    &__btn {
        display: flex;
        align-items: center;
        padding: rem(12px);
        justify-content: center;
        border-bottom: 1px solid #414141;
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        &.is-active {
            img {
                filter: grayscale(0);
            }
        }

        &.no-border {
            border-bottom: none;
        }

        &:not(:nth-child(9n)) {
            border-right: 1px solid #414141;
        }

        img {
            max-width: 70%;
            object-fit: contain;
            filter: grayscale(1);
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
        }

        &--all {
            font: 600 #{rem(22px)} / 120% $ff;
            background: var(--c_darkness);
            color: var(--txt_special);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: rem(49px);
    }

    &__projects {
        overflow: visible;

        &-slide {
            width: auto;
        }
    }

    &__preview {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: rem(24x);
        margin-bottom: rem(40px);
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(12px);
        max-width: rem(967px);
        width: 100%;
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: rem(13px);
        max-width: rem(697px);
    }

    &__logo {
        width: rem(110px);
        height: rem(110px);
        flex-shrink: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__name {
        font: 500 #{rem(40px)} / 110% $ff;
        color: var(--txt_primary);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    }

    &__descr {
        font: 400 #{rem(18px)} / 110% $ff;
        color: var(--txt_primary);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    }

    .link-more {
        // max-width: rem(308px);
        width: max-content;
    }
}
