@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.person-box {
    display: flex;
    flex-direction: column;
    gap: rem(45px);
    max-width: rem(475px);
    padding: rem(21px) rem(22px);
    border-radius: rem(20px);
    border: 1px solid var(--bg_secondary);
    background: var(--c_darkness);
    box-shadow: 0px 4px 13.2px 0px #5d5d5d1a;
    transition: 0.3s linear;
    @include media('mobile') {
        padding: rem(19px);
        border-radius: rem(20px);
        gap: rem(23px);
    }

    &__title {
        font: 500 #{rem(24px)} / 110% $ff;
        color: var(--txt_primary);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('mobile') {
            font-size: rem(18px);
        }
    }

    &__descr {
        font: 400 #{rem(18px)} / 110% $ff;
        color: var(--txt_primary);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
        @include media('mobile') {
            font-size: rem(14px);
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: rem(16px);
    }
}
