@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.stats-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: rem(24px);
    @include media('mobile') {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(12px);
    }

    li {
        display: flex;
        flex-direction: column;
        gap: rem(10px);
        p {
            margin: 0;
            @include transitions(
                0.3s,
                cubic-bezier(0.768, 0.304, 0.496, 0.884)
            );
            &:first-child {
                font: 600 #{rem(40px)} / 110% $ff;
                color: var(--txt_primary);
                @include media('mobile') {
                    font-size: rem(24px);
                }
            }
            &:last-child {
                max-width: rem(250px);
                font: 400 #{rem(16px)} / 110% $ff;
                color: var(--txt_special);
                @include media('mobile') {
                    font-size: rem(14px);
                }
            }
        }
    }
}
