@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.testimonial-box {
    display: flex;
    flex-direction: column;
    gap: rem(10px);
    max-width: rem(334px);
    border-radius: rem(14px);
    padding: rem(20px);
    background: var(--bg_accent);
    @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));

    &__title {
        font: 700 #{rem(16px)} / 120% $ff;
    }

    &__text {
        font: 400 #{rem(16px)} / 120% $ff;
        color: var(--c_half);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    }

    &__name {
        font: 500 #{rem(14px)} / 120% $ff;
        color: var(--txt_secondary);
        @include transitions(0.3s, cubic-bezier(0.768, 0.304, 0.496, 0.884));
    }
}
