@use '../../../base/var' as *;
@use '../../../base/mixins' as *;
@use '../../../base/media' as *;

.ticker-logos {
    padding-block: rem(24px);
    position: relative;
    overflow: hidden;
    width: 100%;
    -webkit-mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 0) 100%
    );

    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 0) 100%
    );

    mask-size: cover;
    -webkit-mask-size: cover;

    &__marquee {
        display: flex;
        user-select: none;
        gap: rem(112px);

        @include hover {
            .ticker-logos__track {
                animation-play-state: paused;
            }
        }
    }

    &__track {
        flex-shrink: 0;
        min-width: 100%;
        @include flexCenter(#{rem(112px)});
        justify-content: space-around;
        animation: scroll-left 60s linear infinite;
        img {
            max-width: rem(120px);
        }
    }

    @keyframes scroll-left {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(-100% - #{rem(95px)}));
        }
    }
}
